<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Admin MODE</title>
  </head>
  <body>
    <form action="add" method="post">
        <input type="submit" name="" value="Add a bot">
        <input type="hidden" name="pseudo" value="<%=pseudo%>" >
    </form>
    <form action="choice" method="post">
      <input type="hidden" name="pseudo" value="<%=pseudo%>">
      <input type="submit" name="" value="back">
    </form>
  </body>
</html>
