<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="choiceBot" method="post">
      <input type="hidden" name="pseudo" value="<%=pseudo%>">
      <input type="submit" name="" value="Choose your robot">
    </form>
    <form action="admin" method="post">
      <input type="hidden" name="pseudo" value="<%=pseudo%>">
      <input type="submit" name="" value="Administration">
    </form>
  </body>
</html>
