<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bots'list</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <br>
  <i class="material-icons">android</i>
  &nbsp;Bots' list&nbsp;
  <i class="material-icons">android</i>
  <form action="/" method="get">
    <input type="submit" name="" value="back">
  </form>

  <table id="table">
  <tr>
    <th>Bot's name</th>
    <th>Port</th>
    <th>Personality</th>
    <th>UiInterface</th>
  </tr>
  <% robots.forEach(function(robot){ %>
      <tr>
        <td><%=robot.name%></td>
        <td><%=robot.port%></td>
        <td><%=robot.personality%></td>
        <td><%=robot.uiInterface%></td>
      </tr>
      <% }); %>

</table>

</body>
</html>
